/*Fijando la barra de navegación al tope del documento*/

header {
    font-family: 'Secular One', sans-serif;
}

* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    }

a {
    text-decoration: none;
    color: inherit;
}

.hr {
    border-top: 2px grey solid;
    width: 100%;
    margin-bottom: 10px;
}

.navbar {
    background-color: grey;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    z-index: 1;
}

/*Estilos para el HeroSection*/

.heroSection {
    background-image: url("./assets/img/hero-section.jpg");
    background-size: cover;
    background-position: center center;
    margin-top: 56px;
    height: 300px;
    color: red;
}

/*Estilos para avatar*/

.avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#trabajosRealizados {
    height: 200px;
}

/*Aplicando estilos a Twitter*/

.redes {
    display: inline;
}

.aboutMe {
    padding: 30px 0;
}

#footer {
    padding: 50px 20px;
}

/*Redondeando iconos*/

.carousel-indicators.rounded li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.card {
    margin-bottom: 10px;
}